<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" >
            <JSONLayout stacktraceAsString="true" >
                <KeyValuePair key="exception" value="$${ctx:cause:-}"/>
            </JSONLayout>
        </Console>
    </Appenders>

    <Loggers>

        <AsyncRoot level="DEBUG">
            <AppenderRef ref="Console"/>
        </AsyncRoot>
    </Loggers>

</Configuration>